.main{
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1px solid rgb(233, 229, 229);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.6rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.image{
    width: 34%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
}

.details{
    width: 52%;
    margin-left: 0;
}

.details h4{
    color: grey;
}

.details1 {
    display: flex;
    justify-content: space-between;
}

.but {
    cursor: pointer;
}



@media (max-width: 500px){
    .main{
        width: 94%;
        padding: 0.8rem 0;
        font-size: 0.72rem;
        line-height: 1.3rem;
    }

    .image{
        width: 32%;
    }

    .details{
        width: 54%;
    }
}
